/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: grid;
  row-gap: 40px;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  color: var(--text-color-main, #F1B2CE);
  background-color: var(--bg-color, #000028);
  background-image: var(--bg-image);
  background-attachment: fixed;
  padding: 10px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

 /* .page:not(footer) {
  gap: 40px;
}  */

/* .page:first-of-type {
  gap: 40px;
} */

/* НАДО В КОНЦЕ ПРОВЕРИТЬ */
/* :nth-last-of-type(2) {
  gap: 40px;
} */

/* .page:last-of-type {
  gap: 0px;
} */

@media (min-width: 768px) {

  .page {
    padding: 20px;
  }
}

/* .header,
.footer {
  grid-template-rows: auto;
} */

.decorated-zone {
  position: relative;
  display: grid;
  align-items: center;
  height: calc(100vh - 20px);
}

.header {
  grid-template-rows: 1fr min-content 1fr;
  /* height: calc(100vh - 20px); */
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: grid;
  width: 70px;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  width: 100%;
  color: var(--text-color-navigation);
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  border: 1px solid transparent;
  /* transition-duration: 0.2s;
  transition-property: outline; */

  cursor: pointer;
  padding: 1px 0px 4px;
}

.header__theme-menu-button_active {
  border: 1px solid var(--rec-color);
}

.header__title {
  font-size: var(--header-font-size);
  font-weight: 700;
  line-height: 82.5%;
  color: var(--text-color-header-title, #DB00FF);
  margin-block-start: 2px;
  /* margin-block-end: 7px; */
}

.shadow-decor {
  text-shadow: 2px 2px 0 var(--accent-color, #ff0070);
}

.header>.shadow-decor {
  text-shadow: 4px 4px 0 var(--accent-color, #ff0070);
}

/* .title-decoration {
    color: var(--text-color-decoration, #000028);
    background-color: var(--bg-color-accent-title, #FF0070);
    font-size: inherit;
    font-weight: 700;
    line-height: 1.3;

} */

/* accent-background accent-text ?accent-text_bold? */

.header__text {
    margin-block-end: 1px;
}

.text-accent-bg {
  color: var(--text-color-decoration, #000028);
  background-color: var(--bg-color-accent-title, #FF0070);
  font-size: inherit;
  font-weight: 700;
  line-height: 1.3;
}

.text-accent {
  color: var(--text-color-section-title, #FF0070);
  font-size: inherit;
  font-weight: 700;
  line-height: 1.3;
}

/* .title-decoration {
    color: var(--text-color-decoration, #000028);
    background-color: var(--bg-color-accent-title, #FF0070);
    font-size: inherit;
    font-weight: 700;
    line-height: 1.3;
} */

.header__rec-decoration {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 2px 10px 0 0;
  color: var(--rec-color);
  inset-inline-end: 0;
  inset-block-start: 0;
}

.header__rec-decoration::after {
  content: "";
  color: var(--rec-color);
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
}


.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--rec-color, #ff0070);
  border-block-start: 1px solid var(--rec-color, #ff0070);
  /*1rem = 16px.
   https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
  /* inset-inline-end: clamp(10px, 0.264rem + 1.541vw, -20px);
  inset-block-start: clamp(10px, 0.264rem + 1.541vw, -20px); */
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--rec-color, #ff0070);
  border-block-end: 1px solid var(--rec-color, #ff0070);
  inset-inline-start: 0;
  inset-block-end: 0px;
  object-position:  top center;
}

.section {
  display: grid;
  row-gap: 20px;
}

.card-list {
  display: grid;
  row-gap: 20px;
}

.card-item-title {
  margin-block-end: 10px;
}

.main {
  display: grid;
  row-gap: 50px;
}

.section-how .card-list .card-item .text-accent-bg {
  font-weight: 400;
}
/* .card-item-title */

/* .gallery-item-img { */





.gallery-item-img {
    width: 100%;
    object-fit: cover;
}

/* .gallery-list {
    display: grid;
    gap: 20px;
    grid-template-rows: auto;
} */

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.c {
  grid-area: c;
}

.d {
  grid-area: d;
}

.e {
  grid-area: e;
} 

@media (width >= 768px) {
  /* .rec-decor {
    inset-inline-end: 28px;
    inset-block-start: 20px;
  } */

  .gallery-item-img {
    object-fit: cover;
    /* object-position: top; */
    block-size: 100%;
    inline-size: 100%;
  }

  .gallery-list {
    display: grid;
    gap: 20px;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    "a a b"
    "c d b"
    "c e e";
  }

}  